.contact-info-entrance{
      opacity: 0;
      transform: translateX(-30%);

}
.contact-enter-active{
      opacity: 1;
      transform: translateX(0%);
      transition: all 140ms linear;
}
.contact-exit{
      opacity: 1;
}
.contact-exit-active{
      opacity: 0;
      transform: translateY(10%);
      transition: all 100ms linear;
}